body{background-color: white;}

.contenedor-imagen {
    position: relative;
    width: 98vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
} 
img {
    width: 100%;
    height: auto;
    display: block;
}
img.numero1{
    border: 2px solid black;
}
.linea-blanca {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 98%;
    height: 180px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    text-align: center;
    background-color: white;
    z-index: 1;
}
.linea-blanca img {
    width: auto;
    height: 175px;
}
.linea-blanca p {
    color: black;
    font-size: 40px;
    margin-top: 20px;
    margin: 20px;
}
.linea-blanca p:hover {
    text-decoration: underline;
}
h1 {
    text-align: center;
    font-size: 48px;
}
h2.rojo {
    color: red;
}
.contenedor-imagen-2 {
    display: flex;
    flex-direction: line;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.contenedor-imagen-2 img {
    width: 220px;
    margin-right: 10px;
}
h2.rojocentrado {
    color: red;
    text-align: center;
}
footer {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 90%;
}  
.contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.columna {
    display: flex;
    flex-direction: column;
}
.texto-grande {
    padding: 10px;
    font-size: 36px;
    text-align: center;
}
.texto-chico {
    padding: 5px;
    text-align: center;}
  
@media (min-width: 768px) {
    .contenedor {
        grid-template-columns: repeat(2, 1fr);
    }
}