body{background-color: white;}

.contenedor-imagen {
    position: relative;
    width: 98vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
} 
img {
    width: 100%;
    height: auto;
    display: block;
}
.linea-blanca {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 98%;
    height: 12vw;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    text-align: center;
    background-color: white;
    z-index: 1;
}
.linea-blanca img {
    width: auto;
    height: 10vw;
}
.linea-blanca p {
    color: black;
    font-size: 3em;
    margin-top: 1em;
    margin: 1em;
}
/* .linea-blanca p:hover {
    text-decoration: underline;
}*/
.rectangulo {
    width: 100%;
    height: 5vw;
    background-color: #ccc;
    position: relative;
}
h1 {
    text-align: center;
    font-size: 4vw;
}
h2.rojo {
    color: red;
    font-size: 3vw;
}
h2 {
    font-size: 2vw;
}
.contenedor-imagen-2 {
    display: flex;
    flex-direction: line;
    align-items: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.contenedor-imagen-2 img {
    width: 14vw;
    margin-right: 1vw;
}
h2.rojocentrado {
    color: red;
    text-align: center;
}
footer {
    background-color: black;
    color: #fff;
    padding: 1vw;
    text-align: center;
    width: 90%;
}  
.contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vw;
}
.columna {
    display: flex;
    flex-direction: column;
}
.texto-grande {
    padding: 1vw;
    font-size: 2vw;
    text-align: center;
}
.texto-chico {
    padding: 5px;
    text-align: center;}
  
@media (min-width: 768px) {
    .contenedor {
        grid-template-columns: repeat(2, 1fr);
    }
}
.imagenfinal {
    max-width: 3vw;
    margin: 0 auto;
    display: block;
}
.boton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.boton:hover {
    background-color: red;
}
.boton:hover p {
    color: #fff;
}
.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre las tarjetas */
    justify-content: center;
    padding: 20px;
}
.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
    transform: scale(1.05);
}
.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}
.card-content {
    padding: 20px;
}
.card-title {
    font-size: 1.5em;
    margin: 0;
    color: #333;
}
.card-description {
    color: #666;
    margin-top: 10px;
}
.buy-button {
    display: inline-block;
    margin: 15px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #0056b3;
}
/* desde aca empiezo con js, hago este comentario para identificar bien que cosa es que */
h4 {
    color: #806f6e;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.show {
    display: block;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 1em;
}
#resultadoContainer {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#resultado {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}



.textobolsas {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.textobolsas li {
    color: black;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}
.textobolsas li::marker {
    color: red;
    font-size: 30px;
}
